.supplier_parent{
    width: 97%;
}

.supplier_parent .supplier_entry_style{
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 18% 14%;
    justify-content: space-between;
    width: 98.5%;
    padding-left: 1.5%;
}

.supplier_parent > div:last-child{
    display: flex;
    flex-direction: column;
    width: 97%;
    border: solid 1.1px rgba(39, 49, 66, 0.5);
    background-color: rgba(39, 49, 66, 0.5);
    padding: 3.5vmin;
    align-items: center;
    min-height: 80vh;
}
.supplier_parent > div:last-child > div:first-child{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5vh;
}
.supplier_parent > div:last-child > div:nth-child(2){
    width: 100%;
}
.supplier_parent > div:last-child > div:nth-child(2) > .supplierListFrame{
    display: inline-grid;
    grid-template-columns: 18% 17% 23% 18% 15%;
    width: 95%;
    padding-left: 4%;
}
