.iconSetDrop {
    position: relative;
    display: inline-block;
    font-family: CircularStd;
    align-self: center
}

.iconSetDrop > div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    width: 3.5vw;
    height: 5.3vh;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vmin;
    padding-left: 1vmin;
    margin-right: 1vmin;
    margin-left: 1vmin;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.iconSetDrop > div:first-child:hover {
    background-color: rgba(251, 214, 53, 0.5);
    border-radius: 8px;
}

.iconSetDrop > div:first-child > img:first-child {
    width: 4vmin;
    height: 5vmin;
}

.iconSetDrop > ul:last-child {
    list-style-type: none;
    left: 2vmin;
    top: 4vmin;
    width: 90vmin;
    border-radius: 20px;
    border: solid 1px white;
    background-color: #273142;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-weight: normal;
    position: absolute;
    z-index: 1;
    padding: 2vmin 2vmin 4vmin 0vmin;
}

.iconSetDrop > ul > div:nth-child(2) {
    display: grid;
    justify-content: space-evenly;
    row-gap: 4vmin;
    padding-top: 2vmin;
    grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}

.iconSetDrop > ul > div:nth-child(2) > li {
    cursor: pointer;
    width: 5vmin;
    padding: 1vmin;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.iconSetDrop > ul > div:nth-child(2) li:hover {
    background-color: rgba(251, 214, 53, 0.5);
    border-radius: 8px;

}

.iconSetDrop > ul > li:first-child {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    font-family: CircularStd;
    font-size: 2vmin;
    color: white;
    margin-left:4vmin ;
}

.iconSetDrop > ul > div:nth-child(2) > li > img {
    width: 5vmin;
    height: 6vmin;
}